{% extends "base.html" %}

{% block content %}
<div class="container">
	<div align="center">

		<img src="static/image.png" width="20%">
		<h1>Welcome to the Fuzzy Judge on-line resolution system.</h1>
		<br>
		<a href="/patentee1" class="btn btn-primary btn-lg">User 1</a>
		<a href="/user2" class="btn btn-danger btn-lg">User 2</a> <br><br><br>
		<a href="/expert1" class="btn btn-success btn-lg">Expert 1</a>
		<a href="/expert1" class="btn btn-info btn-lg">Expert 2</a>
		<a href="/expert1" class="btn btn-warning btn-lg">Expert 3</a>


	</div>
</div>

{% endblock %}