{% extends "base.html" %}

{% block content %}

<h1> Please enter your claim 1 features.</h1>

<form action="" method="post" name="claim1features">

  <p>

   Feature 1:	<br>
   {{ form.feature(size=100) }} <br>

   Disclosure Location:	<br>
   {{ form.disclosureLocationA(size=20) }}<br>

   Is Disclosed?:	<br>
   {{ form.isDisclosedA }}<br>

   Disclosure Opinion: <br>
   {{ form.disclosureOpinionA(size=50)}}<br>

 </p>

 <p><input type="submit" class="btn btn-primary btn-lg active" value="Submit"></p>
</form>


{% endblock %}