{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href= "{{ url_for('static',filename='patentee.css') }}">

    <h1> Please enter your claim 1 features.</h1>

    <form action="" method="post" name="claim1features">

          <p>

            Feature 1:	<br>
            {{ form.feature1(size=100) }}

            Feature 2:	<br>
            {{ form.feature2(size=100) }}

            Feature 3:	<br>
            {{ form.feature3(size=100) }}

          </p>

          <p><input type="submit" class="btn btn-primary btn-lg active" value="Submit"></p>
    </form>

    <div id="TextSample" onmouseup="getText()">Mike Brookes is a Reader in the Communications and Signal Processing Group of the Electrical & Electronic Engineering Department. [Curriculum Vitae]

Research

My research concentrates on the application of signal processing algorithms to speech and image processing and to software radio systems. I combine expertise in signal processing and digital system design and am interested both in the development of new algorithms and in their real-time hardware implementation. Current projects include:
    </div>

    <h2>Features</h2>
    <input type='text' id='features' title="Selected features"/>

    <button id="myBtn" onclick="highlight(0, 10)">Test</button>

    <!-- The Modal -->
    <div id="featureEditor" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
            <h2>New Feature</h2>
            <div id='featureInModal'>Some text in the Modal..</div>

            <div>Location:</div>
            <input type='text' id="featureLocation"  title="featureLocation"/>

            <div>IsDisclosed:</div>
            <input type='text' title="IsDisclosed"/>

            <div>DisclosureOpinion</div>
            <input type='text' title="DisclosureOpinion"/>

            <br/>
            <div>Add to features list</div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='patentee.js')}}"></script>
{% endblock %}